.container-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-bottom: 10%;
}
.container-login, .container-registar{
    text-align: center;
    width: 300px;
    margin-top:5%;
}

h2{
  
    padding-bottom: 5%;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input[type="submit"]{
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: #0056b3;
}